/VW.png
/Z LOOP 29.ahk
/__pycache__
/libxdo.py
/openCV
/pyauto.py
/res.png
/sample.png
/script_IOD.py
/script_IOD2.py
/script_IOD3.py
/script_druid.py
/script_knight.py
/script_pall.py
/script_sorc.py